
.window
{
    width: 96%;
    height: 100%;
    position: absolute;
}

.generate-windows (@i) when (@i > 0) 
{
  .window:nth-child(@{i}) 
  {
    top: (@i - 1) * 100%;
  }
  .generate-windows(@i - 1);
}

