
//////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////

// ------------------------------------------------------------------------------------------------------------------------------
// ICON STYLING
// ------------------------------------------------------------------------------------------------------------------------------

.grayscale-img
{
    filter: grayscale(100%);
    -webkit-filter: grayscale(100%);
    -moz-filter: grayscale(100%);
    -o-filter: grayscale(100%);
    -ms-filter: grayscale(100%);
}

.color-scale-img
{
    filter: grayscale(0%);
    -webkit-filter: grayscale(0%);
    -moz-filter: grayscale(0%);
    -o-filter: grayscale(0%);
    -ms-filter: grayscale(0%);
}

.gray-to-color-hover
{
    .grayscale-img;
    &:hover { .color-scale-img; }
}

.color-to-gray-hover
{
    .color-scale-img;
    &:hover { .grayscale-img; }
}

//////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////

// ------------------------------------------------------------------------------------------------------------------------------
// GENERAL UI ICONS
// ------------------------------------------------------------------------------------------------------------------------------

// Polymorphix icon
.icon-polymorphix
{
    background:url('../imx/navigation/polymorphix_icon.png') 0 0 no-repeat;
    background-size:20px 20px;
    height: 25px;
    line-height: 20px;
    width: 25px;
    vertical-align: middle;
}

// Minecraft icon
.icon-minecraft
{
    background:url('../imx/navigation/minecraft_icon.png') 0 0 no-repeat;
    background-size:16px 16px;
    height: 20px;
    line-height: 20px;
    width: 20px;
    vertical-align: middle;
}

// MMO Icon
.icon-mmo
{
    background:url('../imx/navigation/mmo_icon.png') 0 0 no-repeat;
    background-size:16px 16px;
    height: 20px;
    line-height: 20px;
    width: 20px;
    vertical-align: middle;
}

// Hunger Games Icon
.icon-hungergames
{
    background:url('../imx/navigation/hunger-games_icon.png') 0 0 no-repeat;
    background-size:16px 16px;
    height: 20px;
    line-height: 20px;
    width: 20px;
    vertical-align: middle;
}

// PlotWorld Icon
.icon-plotworld
{
    background:url('../imx/navigation/plot-world_icon.png') 0 0 no-repeat;
    background-size:16px 16px;
    height: 20px;
    line-height: 20px;
    width: 20px;
    vertical-align: middle;
}

// Server Commands Icon
.icon-terminal
{
    background:url('../imx/navigation/terminal_icon.png') 0 0 no-repeat;
    background-size:16px 16px;
    height: 20px;
    line-height: 20px;
    width: 20px;
    vertical-align: middle;
}

//////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////

// ------------------------------------------------------------------------------------------------------------------------------
// LEADERBOARD ICONS
// ------------------------------------------------------------------------------------------------------------------------------

// MMO Acrobatics Icon
.icon-acrobatics
{
    background:url('../imx/leaderboard/acrobatics_icon.png') 0 0 no-repeat;
    background-size:16px 16px;
    height: 20px;
    line-height: 20px;
    width: 20px;
    vertical-align: middle;
}

// MMO Alchemy Icon
.icon-alchemy
{
    background:url('../imx/leaderboard/alchemy_icon.png') 0 0 no-repeat;
    background-size:16px 16px;
    height: 20px;
    line-height: 20px;
    width: 20px;
    vertical-align: middle;
}

// MMO Archery Icon
.icon-archery
{
    background:url('../imx/leaderboard/archery_icon.png') 0 0 no-repeat;
    background-size:16px 16px;
    height: 20px;
    line-height: 20px;
    width: 20px;
    vertical-align: middle;
}

// MMO Axes Icon
.icon-axes
{
    background:url('../imx/leaderboard/axes_icon.png') 0 0 no-repeat;
    background-size:16px 16px;
    height: 20px;
    line-height: 20px;
    width: 20px;
    vertical-align: middle;
}

// MMO Excavation Icon
.icon-excavation
{
    background:url('../imx/leaderboard/excavation_icon.png') 0 0 no-repeat;
    background-size:16px 16px;
    height: 20px;
    line-height: 20px;
    width: 20px;
    vertical-align: middle;
}

// MMO Fishing Icon
.icon-fishing
{
    background:url('../imx/leaderboard/fishing_icon.png') 0 0 no-repeat;
    background-size:16px 16px;
    height: 20px;
    line-height: 20px;
    width: 20px;
    vertical-align: middle;
}

// MMO Herbalism Icon
.icon-herbalism
{
    background:url('../imx/leaderboard/herbalism_icon.png') 0 0 no-repeat;
    background-size:16px 16px;
    height: 20px;
    line-height: 20px;
    width: 20px;
    vertical-align: middle;
}

// MMO Mining Icon
.icon-mining
{
    background:url('../imx/leaderboard/mining_icon.png') 0 0 no-repeat;
    background-size:16px 16px;
    height: 20px;
    line-height: 20px;
    width: 20px;
    vertical-align: middle;
}

// MMO Repair Icon
.icon-repair
{
    background:url('../imx/leaderboard/repair_icon.png') 0 0 no-repeat;
    background-size:16px 16px;
    height: 20px;
    line-height: 20px;
    width: 20px;
    vertical-align: middle;
}

// MMO Swords Icon
.icon-swords
{
    background:url('../imx/leaderboard/swords_icon.png') 0 0 no-repeat;
    background-size:16px 16px;
    height: 20px;
    line-height: 20px;
    width: 20px;
    vertical-align: middle;
}

// MMO Taming Icon
.icon-taming
{
    background:url('../imx/leaderboard/taming_icon.png') 0 0 no-repeat;
    background-size:16px 16px;
    height: 20px;
    line-height: 20px;
    width: 20px; 
    vertical-align: middle;
}

// MMO Unarmed Icon
.icon-unarmed
{
    background:url('../imx/leaderboard/unarmed_icon.png') 0 0 no-repeat;
    background-size:16px 16px;
    height: 20px;
    line-height: 20px;
    width: 20px;
    vertical-align: middle;
}

// MMO Wood Cutting Icon
.icon-wood-cutting
{
    background:url('../imx/leaderboard/wood-cutting_icon.png') 0 0 no-repeat;
    background-size:16px 16px;
    height: 20px;
    line-height: 20px;
    width: 20px;
    vertical-align: middle;
}

//////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////